@model adminFlowerShop_Gr1.Models.TblCategory

@{
    ViewData["Title"] = "Chi tiết danh mục : " + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh sách danh mục</a>
            <span class="breadcrumb-item active">Thông tin danh mục : @Model.CatName</span>
        </nav>
    </div>
</div>

<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/images/category/@Model.Thumb" alt="@Model.CatName">
            </div>
            <div class="m-1-15">
                <h4 class="m-b-0">@Model.CatName</h4>
                <p class="text-muted m-b-0">ID: #@Model.CatId</p>
            </div>
        </div>
        <div class="m-b-15">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@Model.CatId">Edit</a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Category Images</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin danh mục : @Model.CatName</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Tên danh mục:</td>
                                    <td class="text-dark font-weight-semibold">@Model.CatName</td>
                                </tr>
                                <tr>
                                    <td>Alias:</td>
                                    <td>@Model.Alias</td>
                                </tr>
                                <tr>
                                    <td>Trạng Thái:</td>
                                    <td>
                                        <div class="checkbox">
                                            <input asp-for="Published" type="checkbox">
                                            <label for="Published">Public</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mô tả danh mục</h4>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="~/images/category/@Model.Thumb" alt="@Model.CatName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







