@model adminFlowerShop_Gr1.Models.TblCustomer

@{
    ViewData["Title"] = "Thông tin khách hàng" + Model.FullName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách khách hàng</a>
            <span class="breadcrumb-item active">Thông tin khách hàng : @Model.FullName</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin khách hàng : @Model.FullName</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CustomerId</td>
                    </tr>
                    <tr>
                        <td>Tên khách hàng:</td>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>@Model.Birthday</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    @*
                    <tr>
                    <td>Active:</td>
                    <td>
                    @if (@Model.Active)
                    {
                    <div class="switch m-r-10">
                    <input type="checkbox" id="switch-1" checked="">
                    <label for="switch-1"></label>
                    </div>
                    }
                    else
                    {
                    <div class="switch m-r-10">
                    <input type="checkbox" id="switch-2">
                    <label for="switch-2"></label>
                    </div>
                    }
                    </td>
                    </tr>
                    *@
                    <tr>
                        <td>Xác nhận xóa:</td>
                        <td>
                            <form asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@Model.CustomerId">
                                <input type="hidden" asp-for="CustomerId" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




