
@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<adminFlowerShop_Gr1.Models.TblCustomer>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>

            <span class="breadcrumb-item active">Danh sách khách hàng :page @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtLocationId" name="txtLocationId" style="min-width: 200px;" asp-items="ViewBag.LocationId">
                            <option selected>Chọn tỉnh thành</option>

                            <option value="0">Chọn tất cả</option>

                        </select>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                       
                        <th>ID</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Tỉnh/thành</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int a = 1;
                    }
                    @foreach(var item in Model)
                    {
                        <tr id="tr_@item.CustomerId">

                            <td>@(a++)</td>
                            <td>@item.FullName</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>

                            <td>@item.Address</td>
                            <td>@item.Location.Name</td>

                            <td>
                                <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                                <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                            </td>
                        </tr>
                    }
                    @* @if (Model != null) *@
                    
                       @*  foreach(var item in Model)
                        {
                            <tr>

                                <td>@item.CustomerId</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>

                                <td>@item.Address</td>
                                <td>@item.Location.Name</td>

                                <td>
                                    <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                                    <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                    <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                </td>
                            </tr>
                        } *@
                    
                </tbody>
            </table>

            <div aria-label="Page navigation example">
                <ul class=" pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
          
@section Scripts{

    <script>
        $(document).ready(function () {

            jQuery("#txtLocationId").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                CatID = parseFloat(LocationId);
                $('#txtLocationId option')
                    .removeAttr('selected');
                $("#txtLocationId > [ value=" + LocationId + "]").attr("selected", "true");

                $.ajax({
                    url: '/Admin/AdminCustomers/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        LocationId: LocationId
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

        });
    </script>
}

