@model adminFlowerShop_Gr1.Models.TblPost

@{
    ViewData["Title"] = "Xác nhận xóa bài viết : " + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTblPosts" asp-action="Index">Danh sách bài viết</a>
            <span class="breadcrumb-item active">Thông tin bài viết : @Model.Title</span>
        </nav>
    </div>
</div>

<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/images/post/@Model.Thumb" alt="@Model.Title">
            </div>
            <div class="m-1-15">
                <h4 class="m-b-0">@Model.Title</h4>
                <p class="text-muted m-b-0">ID: #@Model.PostId</p>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Post Images</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Xác nhận xóa Page : @Model.Title</h4>
                    <div class="table-responsive">
                        <form asp-action="Delete" asp-route-id="@Model.PostId">
                            <input type="hidden" asp-for="PostId" />
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Title:</td>
                                        <td class="text-dark font-weight-semibold">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td>Alias:</td>
                                        <td>@Model.Alias</td>
                                    </tr>
                                    <tr>
                                        <td>Trạng Thái:</td>
                                        <td>
                                            <div class="checkbox">
                                                <input asp-for="Published" type="checkbox">
                                                <label for="Published">Public</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Xác nhận xóa bài viết</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="submit" value="Xóa" class="btn btn-danger" /> 
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Nội dung bài viết</h4>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Contents)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="~/images/post/@Model.Thumb" alt="@Model.Title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






