@model adminFlowerShop_Gr1.Models.TblPost

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/bai-viet/{Model.Alias}-{Model.PostId}.html";
    List<TblPost> BaiVietLienQuan = ViewBag.BaiVietLienQuan;
}


<div class="blog-area-wrapper">
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">@Model.Title</h3>
                        <ul>
                            <li><a href="/">Trang chủ</a></li>
                            <li>@Model.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Blog Main Area Start Here -->
    <div class="blog-main-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-custom widget-mt">
                    <!-- Blog Details wrapper Area Start -->
                    <div class="blog-post-details">
                        <figure class="blog-post-thumb mb-5">
                            <img src="~/images/post/@Model.Thumb" alt="@Model.Title">
                        </figure>
                        @Html.Raw(Model.Contents)
                    </div>
                    <!-- Blog Details Wrapper Area End -->
                    <div>
                        <div class="widget-list mb-30">
                            <h3 class="widget-title">Bài viết liên quan</h3>
                            <div class="sidebar-body">
                                @if (BaiVietLienQuan != null && BaiVietLienQuan.Count() > 0)
                                {
                                    foreach (var item in BaiVietLienQuan)
                                    {
                                        string _url = $"/bai-viet/{Model.Alias}-{Model.PostId}.html";
                                        <div class="sidebar-product align-items-center">
                                            <a href="product-details.html" class="image">
                                                <img src="~/images/post/@item.Thumb" alt="@item.Title">
                                            </a>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h4 class="title-2"> <a href="@_url">@item.Title</a></h4>
                                                </div>
                                                <div class="price-box">
                                                    <span>@item.CreatedDate</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Blog Main Area End Here -->
</div>