@model List<TblOrder>
@if(Model!=null &&  Model.Count()>0)
{
    <table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Ngày mua hàng</th>
				<th>Ngày Ship hàng</th>
				<th>Trạng thái</th>
            <th>Tổng tiền</th>
        </tr>
            @foreach(var item in Model)
            {
                <tr>
                <td>@item.OrderId</td>
                <td>@item.OrderDate</td>
                <td>@item.ShipDate</td>
                
                    <td>@item.TransactStatus.Status</td>
                    <td>@item.PaymentDate</td>
                <td><a href="cart.html" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></td>
                 </tr>
            }
        </thead>
    <tbody>
       
    </tbody>
</table>
}
else
{
    <p>Chưa có đơn hàng</p>
}
