@model List<adminFlowerShop_Gr1.ModelViews.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Shopping Cart</h3>
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li>Cửa hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- cart main wrapper start -->
<div class="cart-main-wrapper mt-no-text">
    <div class="container custom-area">
        <div class="row">

            <div class="col-lg-12 col-custom">
                <!-- Cart Table Area -->
                @if (Model != null && Model.Count() > 0)
                {
				    <div class="cart-table table-responsive">
					    <table class="table table-bordered">
						    <thead>
							    <tr>
								    <th class="pro-thumbnail">Hình ảnh sản phẩm</th>
								    <th class="pro-title">Sản phẩm</th>
								    <th class="pro-price">Đơn giá</th>
								    <th class="pro-quantity">Số lượng</th>
								    <th class="pro-subtotal">Thành tiền</th>
								    <th class="pro-remove">Xóa</th>
							    </tr>
						    </thead>
						    <tbody>
							    @if (Model != null && Model.Count() > 0)
							    {
								    foreach (var item in Model)
								    {
									    <tr>
										    <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="~/images/products/@item.product.Thumb" alt="Product" /></a></td>
										    <td class="pro-title"><a href="#">@item.product.ProductName</a></td>
										    <td class="pro-price"><span>@item.product.Price.Value.ToString("#,##0") VND</span></td>
										    <td class="pro-quantity">
											    <div class="quantity">
												    <div class="cart-plus-minus">
													    <input class="cart-plus-minus-box" value="@item.amount" type="text">
													    <div class="dec qtybutton">-</div>
													    <div class="inc qtybutton">+</div>
													    <div class="dec qtybutton"><i class="fa fa-minus"></i></div>
													    <div class="inc qtybutton"><i class="fa fa-plus"></i></div>
												    </div>
											    </div>
										    </td>
										    <td class="pro-subtotal"><span> @item.TotalMoney.Value.ToString("#,##0") VND</span></td>
										    <td class="pro-remove"><a href="#"><i class="lnr lnr-trash"></i></a></td>
									    </tr>
								    }
							    }
						    </tbody>
					    </table>
				    </div>
                }
                else
                {
                    <p>Giỏ hàng trống</p>
                }
                
                <!-- Cart Update Option -->
                <div class="cart-update-option d-block d-md-flex justify-content-between">
                    <div class="apply-coupon-wrapper">
                        <form action="#" method="post" class=" d-block d-md-flex">
                            <input type="text" placeholder="Enter Your Coupon Code" required />
                            <button class="btn flosun-button primary-btn rounded-0 black-btn">Apply Coupon</button>
                        </form>
                    </div>
                    <div class="cart-update mt-sm-16">
                        <a href="/shop.html" class="btn flosun-button primary-btn rounded-0 black-btn">Xem thêm sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 ml-auto col-custom">
                <!-- Cart Calculation Area -->
                <div class="cart-calculator-wrapper">
                    <div class="cart-calculate-items">
                        <h3>Tổng đơn hàng</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Thành tiền</td>
                                    <td>@Model.Sum(x=>x.TotalMoney).Value.ToString("#,##0")VND</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a href="checkout.html" class="btn flosun-button primary-btn rounded-0 black-btn w-100">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart main wrapper end -->

